.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  padding: 0 20px;

  &-img {
    width: 100%;
  }
}


.currencies{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px
}

.base-currency {
  margin-right: 50px;
}
